<head>
    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@5"
        rel="stylesheet"
        type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="./style/output.css" />
</head>
<body data-theme="light">
    <footer
        class="grid md:grid-cols-[auto_auto] max-md:grid-cols-1 bg-custom-primary text-center max-md:gap-8 p-2 w-screen"
    >
        <div class="flex items-center gap-2 max-md:justify-center">
            <img
                src="./image/logo/Coffee_Logo.png"
                alt="logo"
                class="size-12"
            />
            <h1 class="text-black font-giaza text-2xl">HJJC Store.</h1>
        </div>
        <div class="flex items-center gap-8 flex-wrap max-md:justify-center ">
            <a
                href="#"
                target="_blank"
                class="flex items-center text-black gap-2 hover:text-custom-secondary active:text-custom-secondary hover:scale-105 duration-300"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide hover:stroke-custom-secondary lucide-facebook-icon lucide-facebook"
                >
                    <path
                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                    />
                </svg>
                HJJC Facebook Page</a
            >
            <a
                href="mailto:hjjc.store@gmail.com?subject=Inquiry%20About%20My%20Order&body=Please%20provide%20an%20update%20on%20order%20%231234."
                target="_blank"
                class="flex items-center text-black gap-2 hover:text-custom-secondary active:text-custom-secondary hover:scale-105 duration-300"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail-icon lucide-mail hover:stroke-custom-secondary"
                >
                    <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
                    <rect x="2" y="4" width="20" height="16" rx="2" />
                </svg>
                hjjc.store@gmail.com</a
            >
            <a
                href="./map.php"
                class="flex items-center text-black gap-2 hover:text-custom-secondary active:text-custom-secondary hover:scale-105 duration-300  text-wrap  max-lg:max-w-2xs"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide hover:stroke-custom-secondary lucide-map-pin-house-icon lucide-map-pin-house"
                >
                    <path
                        d="M15 22a1 1 0 0 1-1-1v-4a1 1 0 0 1 .445-.832l3-2a1 1 0 0 1 1.11 0l3 2A1 1 0 0 1 22 17v4a1 1 0 0 1-1 1z"
                    />
                    <path
                        d="M18 10a8 8 0 0 0-16 0c0 4.993 5.539 10.193 7.399 11.799a1 1 0 0 0 .601.2"
                    />
                    <path d="M18 22v-3" />
                    <circle cx="10" cy="10" r="3" />
                </svg>
                659-A Cecilia Muñoz St, Ermita, Manila, 1000 Metro Manila</a
            >
        </div>
    </footer>
</body>
